* {
	box-sizing: border-box;
}

:root {
	--MainFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  @font-face {
	font-family: 'Inter-V';
	src: url('fonts/inter.var.woff2') format('woff2-variations');
	font-weight: 100 900;
	font-display: fallback;
	font-style: oblique 0deg 10deg;
  }

  @supports (font-variation-settings: 'wdth' 200) {
	body {
	  font-family: 'Inter-V';
	  font-variation-settings: 'wght' 300, 'slnt' -4;
	  font-feature-settings: 'cv08', 'cv05';
	}
  }

body {
	padding: 1rem 0.5rem;
	font-size: 1.2em;
	line-height: 1.2;
	max-width: 60rem;
	margin: 0 auto;
	color: #333;
}

img {
	max-width: 100%;
}

.Header {
	text-align: center;
	border-bottom: 8px double #f9f9f9;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
}

.Specs {
	padding-bottom: 1rem;
}

.Strap {
	font-size: 1.2rem;
}

.MoneyShot {
	position: relative;
}

.MoneyShotImg {
	border: 4px solid #e8cfa9;
	border-radius: 4px;
}

.LogoWrapper {
	display: block;
}

.ImageCaption {
	font-size: 0.75rem;
	position: absolute;
	bottom: 0.5rem;
	right: 1rem;
	padding: 3px;
	background-color: #222;
	color: #e4e4e4;
}

.IntroText {
	font-size: 1.8rem;
	font-style: italic;
}

.MethodWrapper li {
	padding: 0.4rem 0;
}

.MethodWrapper li:after {
	content: "✼";
	display: block;
	text-align: center;
	margin: 1rem 0 0.5rem 0;
	color: #eee;
}

.Container_img {
	background-color:#f5ebdc

}

.Scroll_Wrapper {
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	/*Give us inertia style scrolling on WebKit based touch devices*/
	-webkit-overflow-scrolling: touch;
	/*Remove the scrollbars in supporting versions of IE*/
	-ms-overflow-style: none;
}

/*Stops the scrollbar appearing in WebKit browsers : Retiré car sinon boutons en JS à implémenter pour les grands écrans non tactiles*/
/*
.Scroll_Wrapper::-webkit-scrollbar {
	display: none;
}
*/
.my_grid {
	display: inline-grid;
	grid-gap: 3px;
	grid-template-rows: 8rem 1rem;
	/* grid-template-columns: 200px; */
  }
  
  .grid-item-1 {
	grid-row: 1;
	grid-column: 1;
  }
  .grid-item-2 {
	grid-row: 2;
	grid-column: 1;
  }

  [class^='grid-item'] {
	display: grid;
	align-items: center;
	justify-content: center;
  }

.Item {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	white-space: normal;
}

.Item img {
	max-height: 8rem;
	border: 2px solid #6b6a6a;
	border-radius: 4px;
}

.Caption {
	max-width: 12rem;
	font-size: 0.8rem;
	line-height: 1;
}

.Footer {
    display: flex;
    flex-direction: column;
}

.Footer_Link {
    font-size: 0.75rem;
    line-height: 1.6;
	color: #333;
    text-decoration-line: underline;
    text-decoration-skip-ink: auto;
    text-decoration-color: #b50404;
    text-decoration-thickness: 2px;
    display: inline-flex;
	width: 100%;
    align-items: center;
	justify-content: space-around;
}

/* lightbox from thenewcode.com*/
@keyframes fadeToNearBlack {
	to { background: rgba(0,0,0,0.9); }
}
@keyframes goBig { 
	to { opacity: 1; } 
}
dialog img { 
	width: 100%; height: auto; 
}
dialog { border: none; opacity: 0; }
dialog button { 
	border: none; background: none; font-size: 1.2rem; 
}
dialog[open] {
	animation: goBig 1s .4s forwards;
	width: 70%; margin: auto;
	position: absolute; max-width: 700px; 
}
dialog[open]::backdrop { 
	animation: fadeToNearBlack 1s forwards; 
}
.backdrop { 
	animation: fadeToNearBlack 1s forwards; 
}

/*Ecrans dont la largeur dépasse 800 pixels*/
@media screen and (min-width: 800px) {
	body {
		border-left: 4px solid #f9f9f9;
		border-right: 4px solid #f9f9f9;
		padding: 1rem 2rem;
	}

	.IntroWrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	.MoneyShot,
	.IntroText {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
		text-align: center;
	}

	.IntroText {
		padding: 0.5rem;
		font-size: 2.5rem;
		text-align: left;
		position: relative;
	}
	
}
